<template>
  <div class="wrapper">
  <div class="wrapperCanvas">
    <div id="canvasGraphic" :style="{ backgroundImage: 'url(' + image + ')' }">
      <img class="activeIcon" :src="activeIcon">      
      <pre class="text" :style="{color: activeColor}">
        {{generateText}}
      </pre>
    </div>
  </div>
  <div class="generateGraphics">
    <div class="row ml-2 mr-2 mb-5">
      <div class="col-12 col-md-2">
        <div class="list-group">
          <a class="list-group-item list-group-item-action active">
            <strong>Text with icon</strong>
          </a>
        </div>
      </div>
      <div class="col-12 col-md-7">
        <div class="wrapperImage">
          <img class="img-fluid" :src="image">
            <img class="activeIcon" :src="activeIcon">  
            <pre class="text" :style="{color: activeColor}">
              {{generateText}}
            </pre>
        </div>
      </div>
      <div class="col-12 col-md-3">
        <form>
          <div class="form-group">
            <label for="generateIcons">Icons</label>
            <div>
              <div class="icon" v-for="icon in generateIcons" @click="changeIcon(icon.src, icon.name)" :key="icon.id">
                <img :src="icon.src">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="generateText">Text</label>
            <textarea v-model="generateText" class="form-control" id="generateText" rows="3"></textarea>
          </div>
          <div class="form-group">
            <label for="generateTextColor">Text color</label>
            <div>
              <div class="color" :style="{ backgroundColor: color }" v-for="color in generateTextColor" @click="changeColor(color)" :key="color.id">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="generateFileName">File name</label>
            <input v-model="generateFileName" type="text" class="form-control" id="generateFileName" placeholder="File name">
          </div>
          <button @click="save()" class="btn btn-primary">Save file</button>
        </form>
      </div>
    </div>
  </div>
  </div>
</template>

<script>
import html2canvas from 'html2canvas';

export default {
  name: 'GenerateGraphics',
  data () {
    return {
      image: '/static/backgroundImage.jpg',
      generateIcons: [
        {
          src: '/static/boy.svg',
          name: 'gdzie-grali-znani-',  
        },
        {
          src: '/static/open-book.svg',
          name: 'cytaty-z-naszych-ksiazek-',  
        },
        {
          src: '/static/question-mark.svg',
          name: 'pytania-',  
        },
        {
          src: '/static/football.svg',
          name: 'teksty-z-podworka-',  
        },
        {
          src: '/static/quote-left.svg',
          name: 'cytaty-trenerow-',  
        },
        {
          src: '/static/review.svg',
          name: 'opinie-',  
        },
        {
          src: '/static/whistle.svg',
          name: 'teksty-skrzatow-',  
        }
      ],
      generateText: '',
      generateTextColor: [
        '#f9f9f9', '#7fb0ff', '#ff7f7f', '#fffd8e', '#7aff9f'
      ],
      activeColor: '',
      activeIcon: '',
      generateFileName: '',
    }
  },
  methods: {
    changeColor(color) {
      this.activeColor = color;
    },
    changeIcon(icon, name) {
      this.activeIcon = icon;
      this.generateFileName = name;
    },
    save() {
      html2canvas($('#canvasGraphic').get(0)).then((canvas) => {
        this.saveAs(canvas.toDataURL(), this.generateFileName);
      });
    },
    saveAs(uri, filename) {
      let link = document.createElement('a');
      if (typeof link.download === 'string') {
          link.href = uri;
          link.download = filename;
          document.body.appendChild(link);
          link.click();
          document.body.removeChild(link);
      } else {
          window.open(uri);
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  .wrapper {
    height: 100vh;
    background: white;
  }
  #canvasGraphic {
      width: 1200px;
      height: 900px;
      background-size: cover;
      background-position: center;
      position: relative;
      .text {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 520px;
        font-size: 60px;
      }
      .activeIcon {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 290px;
        font-size: 30px;
        height: 170px;
      }
  }
  .text {
    color: white;
    font-weight: 300;
    white-space: pre-line;
    font-style: italic;
    text-align: center;
    padding: 0px 10px;
    margin-bottom: 0px;
    font-family: 'Lato', sans-serif;
    width: 100%;
  }
  .generateGraphics {
    position: relative;
    z-index: 0;
    background: white;
    .wrapperImage {
      position: relative;
      .text {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 58%;
        font-size: 37px;
      }
      .activeIcon {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 33%;
        font-size: 30px;
        height: 100px;
      }
    }
  }
  .wrapperCanvas {
    background: white;
    position: absolute;
    z-index: -1;
    overflow: hidden;
    height: 100%;
    width: 100%;
  }
  .color {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin-right: 5px;
    display: inline-block;
    cursor: pointer;
    border: 2px solid #d1d1d1;
  }
  .icon {
    width: 70px;
    height: 70px;
    position: relative;
    margin-right: 5px;
    background: black;
    img {
      max-width: 50px;
      max-height: 50px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
    }
    display: inline-block;
    cursor: pointer;
    padding: 3px;
    border-radius: 5px;
    border: 2px solid #d1d1d1;
  }
  small {
    font-size: 9px;
  }

</style>
