<template>
  <div>
    <div class="generateGraphics">
      <nav class="navbar navbar-light bg-light mb-4">
        <h4 class="navbar-brand">Not found page</h4>
      </nav>
    </div>
  </div>
</template>